@model WebApplication2.Models.ViewProductsViewModel

@using WebApplication2.Models

@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

<section class=" filter py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-2">
                <h4 class="font-size-24 font-baloo">FILTRER PAR</h4>
                <hr />
                <div class="dropdown filter-list">
                    <button onclick="dropdown(this)" id="drop1" class="dropbtn">MARQUE <i class="fa fa-caret-down" style="margin-left:3rem; margin-top:2px;"></i></button>
                    <div id="myDropdown1" class="list_cat dropdown-content">
                        <form name="brandform">
                            <input type="radio" id="apple" name="brand" value="apple" onclick="filter()">
                            <label for="apple">Apple</label><br>
                            <input type="radio" id="sumsung" name="brand" value="sumsung" onclick="filter()">
                            <label for="sumsung">Sumsung</label><br>
                            <input type="radio" id="huawei" name="brand" value="huawei" onclick="filter()">
                            <label for="huawei">Huawei</label><br />
                            <input type="radio" id="xiaomi" name="brand" value="xiaomi" onclick="filter()">
                            <label for="xiaomi">Xiaomi</label><br />
                            <input type="radio" id="all" name="brand" value="all" onclick="filter()">
                            <label for="xiaomi">ALL</label>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="dropdown filter-list">
                    <button onclick="dropdown(this)" id="drop3" class="dropbtn">PRIX <i class="fa fa-caret-down" style="margin-left:3rem; margin-top:2px;"></i></button>
                    <div id="myDropdown3" class="list_cat dropdown-content">
                        <input type="text" class="js-range-slider" name="my_range" value="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="list_product grid-container py-5">
                    @foreach (Produit p in Model.Produits)
                    {

                        <div class="product">
                            <a href="/Produits/DetailsProduct?prodID=@p.ProduitID"><img src="~/images/Produit-@{@p.ProduitID}.jpg" /></a>
                            <div class="text-center font-baloo">
                                <h3 class="font-baloo">@p.Nom</h3>
                                <h4 class="font-size-14 font-rale">@p.fournisseur</h4>
                                <div class="rating font-size-12">
                                    <span><em class="fas fa-star"></em></span>
                                    <span><em class="fas fa-star"></em></span>
                                    <span><em class="fas fa-star"></em></span>
                                    <span><em class="fas fa-star"></em></span>
                                    <span><em class="fas fa-star"></em></span>
                                </div>
                                <div class="price">
                                    <span><strong>@p.Prix Dhs</strong></span>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="list_product">
    <div class="container">
        <h4 class="font-rubik font-size-20 text-center">PLUS DE PRODUITS</h4>
        <hr />
        <div class="owl-carousel owl-theme" id="item_phone">
            @Html.Action("Categorie", "Home", new { cat = 4 })
        </div>
        <button type="submit" class="btn color-primary-bg font-size-20  btn-achat-tout" id="plus" onclick="getCat(this)">Voir tout</button>
    </div>

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script>
        var brand = $('input[name=brand]:checked').val();
        console.log(brand);
        $price = $(".js-range-slider")
        $price.ionRangeSlider({
        type: "double",
        grid: true,
        min: 200,
        max: 30000,
        from: 5000,
        to: 25000,
        prefix: "Dhs"
        });

        $price.on("change", function () {
            var $inp = $(this);
            var v = $inp.prop("value");
            var from = $inp.data("from");
            var to = $inp.data("to");
            var url = '@Url.Action("GetViewProducts", "Produits")?' +'prixmin=' + from + '&prixmax=' + to + '&marque=' + '@Request.QueryString["marque"]';
            location.href = url;
        });

       function filter() {
            var val = document.querySelector('input[name="brand"]:checked').value;
           var url = '@Url.Action("GetViewProducts", "Produits")?' + 'marque=' + val;
           location.href = url;
        }
</script>
